
Spark/bin/\.idea/libraries/

*.class

Spark/src/\.project

Spark/src/\.classpath

Spark/bin/src/\.project

Spark/bin/src/\.classpath

*.iml

Spark/bin/\.project

Spark/bin/\.idea/

Spark/\.settings/

Spark/\.project

Spark/\.classpath
