
Spark/bin/\.idea/libraries/

*.class

*.jar


Spark/src/\.project

Spark/src/\.classpath

Spark/bin/src/\.project

Spark/bin/src/\.classpath

*.iml

Spark/bin/\.project

Spark/bin/\.idea/

Spark/\.settings/

Spark/\.project

Spark/\.classpath
Spark/.idea/
dataSource/.idea/misc.xml
dataSource/.idea/
